@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--green: #006837;
	--light-bg-green: #4f9c3c44;
	--light-green: #4f9c3c;
	--secondary-green: #4a9582;
	--light-secondary-green: #4a958233;
}

html.is-changing .transition-fade {
	transition: opacity 0.25s;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Inter Variable', sans-serif;
	font-size: 14px;
}

body {
	@apply bg-gray-900;
	width: 100%;
	min-height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	width: min(100svw, 420px);
	height: min(100svh, 900px);
	margin: auto;
	overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Sen Variable', sans-serif;
	color: #006837;
	font-weight: bold;
	letter-spacing: 0px;
}

input[type='text'],
input[type='password'] {
	background-color: var(--light-bg-green);
	color: var(--light-green);
	padding: 14px 22px;
	border-radius: 999999px;
	font-weight: 600;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
	color: var(--light-green);
}

.button {
	background-color: var(--light-green);
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 30px;
	border-radius: 999999px;
	min-width: 120px;
}

.customGrid {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.stat-card {
	color: var(--secondary-green);
	box-shadow: 0px 2px 5px 0px #00000044;
}

.stat {
	background: radial-gradient(
		circle at 110% -10%,
		var(--secondary-green) 40%,
		#e0e0e0 25%
	);
}
